parameters:
  level: 8
  strictRules:
    allRules: false
    strictFunctionCalls: true
  fileExtensions:
    - php
    - module
    - inc
    - install
    - theme
    - profile
  excludePaths:
    - '**/vendor/**'
    # Sometimes npm packages include PHP files
    - '**/node_modules/**'
    # These are 1:1 copies from Drupal core, with trivial additions that cannot have significant PHPStan impact. PHPStan compliance should happen upstream.
    - src/CoreBugFix/**
    - src/Plugin/Field/FieldTypeOverride
    - src/TypedData/BetterEntityDataDefinition.php
    # This trait decorates core's \Drupal\Core\Test\FunctionalTestSetupTrait::prepareSettings(), which itself triggers a PHPStan warning that core ignores. Match that.
    - tests/src/Traits/ContribStrictConfigSchemaTestTrait.php
    # PHPCS rules are not executed in production, no need to comply.
    - coding_standards/**
  treatPhpDocTypesAsCertain: false
  drupal:
    entityMapping:
      asset_library:
        class: Drupal\canvas\Entity\AssetLibrary
      component:
        class: Drupal\canvas\Entity\Component
      js_component:
        class: Drupal\canvas\Entity\JavaScriptComponent
      canvas_page:
        class: Drupal\canvas\Entity\Page
      page_region:
        class: Drupal\canvas\Entity\PageRegion
      pattern:
        class: Drupal\canvas\Entity\Pattern
      staged_config_update:
        class: Drupal\canvas\Entity\StagedConfigUpdate
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    # PHPStan finds many false positives for this, specifically when using the DIC or Typed Data.
    - identifier: varTag.type
    -
      message: "#^Class .* extends @internal class#"
      count: 1
      path: src/MediaLibraryCanvasPropOpener.php
    -
      message: "#^Method Drupal\\\\canvas\\\\Entity\\\\Pattern\\:\\:preCreate\\(\\) has no return type specified\\.$#"
      count: 1
      path: src/Entity/Pattern.php
# Run `composer run phpstan-regenerate-ignores-for-11.3-and-higher` to update this list of ignores for Drupal >=11.3.
includes:
  - phpstan-11.3-and-higher-ignores.neon
